{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
    <link rel="stylesheet" href="{% static 'sitestyle.css'%}">
    <link rel="stylesheet" href="{% static 'ex_template/appstyle.css'%}">
</head>
<body>
    <h1>Index</h1>
    접속자 :{{ name }}<br>
    <h3>현재 : {{ now }}</h3>
    <hr>
    <img src="{% static 'urls.PNG' %}" width="100px" height="140px">
    <img src="/static/urls.PNG" width="100px" height="140px"> {#하드코딩#}
    <img src="/static/ex_template/parents.jpg" width="100px" height="140px"> {#하드코딩#}
</body>
</html>